body {
    background-color:#FAFAFA;
    font-family: "Arial", Georgia, Serif;

    /* enable if navbar is fixed
    padding-top: 60px;
    */
  }

  footer {
    text-align: center;
    font-size: 10px;
  }

  h1,
  h4,
  h3,
  h5,
  h6 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;

  }

  h2
  {
  	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-decoration: underline;
  }

  img{
  	border-radius: 5px;
  }

  .content{
    margin:30px;
  }


  .navbar-light .navbar-brand {
    color:white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
  }

.navbar-light .navbar-nav .active>.nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

  .bg-light{
    background-color:#139E8C !important;
  }
  .navbar-custom {
    font-family: "Arial";
    font-size: 14pt;
  }

  .nav-link{
      color:white;
  }

  .greeting {
    margin: 20px;
    letter-spacing: 3px;
  }

  .col-md-4{
    margin-top:10px;
    margin-bottom:10px;

    /*margin-left:auto;
    margin-right:auto;*/
  }

  .card{
    margin-left:3px;
    margin-right:3px;
    margin-top:3px;
    margin-bottom:3px;
    /*background-color: #CBF3F0;*/
    border-color: #EFF0F1;
    border-radius: 5px;

  }





  .content img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
    max-height:100%;
  }

  .description{
  	position: relative;
  	padding-bottom: 10px;
  	top: 5px;
    /*font-family: "Playfair Display";*/
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align:center;
    color: black;
  }

  .search-cards{
    width:40%;
    display:inline-block;
  }
  .search-price{
    width:10%;
    display:inline-block;
  }
  .search-time{
    width:10%;
    display:inline-block;
  }
