.recipe-img{
    display:inline-block;
    margin:15px;
    width:300px;
    border-radius: 5px;
}


.alert{
    display:none;
}

.my-rec-button{
  position: relative;
  bottom: 50px;
  left: 50px;
  width: 120px;
  height: 60px;


}

.rm{
    float:right;
}

.ingredients
{
  position: relative;
  top: 15px;
  left: 16px;
  border-style: solid;
  border-color: #EFF0F1;
  margin-bottom: auto;

  box-shadow: 1px 1px 10px -2px #999;
  border-radius: 5px;

  font-weight: bold;

}

.recipe
{
  position: relative;
  top: 15px;
  left: 40px;
  border-style: solid;
  border-color: #EFF0F1;
  margin-bottom: auto;


  box-shadow: 1px 1px 10px -2px #999;
  border-radius: 5px;




}

.shopping_add
{
  position: relative;
  right: 320px;

  border-color: #EFF0F1;
  border-radius: 5px;
  margin-top: 50px;

  font-weight: bold;


}

#prices
{
  position: relative;
  top: 10px;
  left: 16px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 120%;
  /*color: #139E8C;*/
}

#recipe-name
{
  position: relative;
  left: 16px;
  font-weight: bold;
}

#ingredients-list
{

    margin-bottom: 30px;

}
/*
li:not(:last-child) 
{
    margin-bottom: 30px;
}
*/