.recipe-img{
    display:inline-block;
    margin:15px;
    width:300px;
}

.alert{
    display:none;
}

.my-rec-button{
  position: relative;
  bottom: 50px;
  left: 50px;
  width: 120px;
  height: 60px;


}