/*unordered list styling*/
ul
{
  list-style-type: none;
}

li{
	font-size:12pt;
}

.ingredients{
	min-height: 60vh;
	height:auto;
}
/*Recipie Card container for shopping page, used in card template*/
.col-md-5{
  margin-top:40px;
  margin-bottom:40px;

}

/*Recipe Card for shopping page, used in card template*/
.card2{
  position: relative;

  width: 250px;

}
/*shopping list styling*/
i.material-icons{
	font-size:20px;
}

td{
	font-size:80%;
	margin-bottom:10px;
	margin-top:10px;
}

.quant_link{
	margin-top:0px;
}
/*List add styling*/
.list_add{
	display:inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;

}

.list_remove{
	display:inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;

	background-color: white;

}

.clear_list
{
	background-color: white;

}

.undo
{
	background-color: white;

}



#shopping-list
{
	padding-top: 20px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: bold;
}
