
/*unordered list styling*/
ul
{
  list-style-type: none;
}
/*Recipie Card container for shopping page, used in card template*/
.col-md-5{
  margin-top:40px;
  margin-bottom:40px;

}

/*Recipe Card for shopping page, used in card template*/
.card2{
  position: relative;

  width: 250px;

}

.col-md-3{
	font-style:normal;
}

.quant{
	height:20px;
}
i.material-icons{
	font-size:20px;
}


.list_add{
	display:inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

.list_remove{
	display:inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}

#shopping-list
{
	padding-top: 20px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: bold;
}