/*Style canvas*/
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.canvas_container{
    display:inline-block;
    padding-left:20px;
}
#greeting{
    margin:20px;
}